<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <style>
     {% include 'includes/bootstrap/bootstrap.min.css' %}
  </style>
  <style>
     {% include 'includes/bootstrap/bootstrap-select.min.css' %}
  </style>
  <title>Report</title>
  {% include 'includes/styles.j2' %}
</head>
<body>
<div class="container">
<table class="table table-striped table-hover table-sm table-bordered">
    <thead class="thead-dark">
        <tr>
            <th>Hostname</th>
            <th>IP Address</th>
            <th>OS release</th>
            <th>From Kickstart</th>
            <th>Disk layout (VG)</th>
            <th>NTP</th>
            <th>Users exists</th>
            <th>Sudoers rule</th>
            <th>SSHD</th>
            <th>ITM agent</th>
            <th>Netbackup agent</th>
        </tr>
    </thead>
    <tbody>
{% for host in groups['all'] %}
        <tr>
            <td><span data-toggle="tooltip" data-placement="left" class="badge badge-gray-dark">{{ hostvars[host]['ansible_fqdn'] }}</span></td>
            <td><span data-toggle="tooltip" data-placement="left" class="badge badge-gray">{{ hostvars[host]['ansible_default_ipv4']['address'] }}</span></td>
            <td><span data-toggle="tooltip" data-placement="left" class="badge badge-gray">{{ hostvars[host]['ansible_distribution'] }}{{ hostvars[host]['ansible_distribution_version'] }}</span></td>
            <td>
            {% if ks_cfg_disk is defined and ks_cfg_network is defined and ks_cfg_bash is defined %}
            <span class="badge badge-pill badge-success">YES</span>
            {% else %}
            <span class="badge badge-pill badge-warning">NO</span>
            {% endif %}
            </td>
            <td>
            {% if vg_systemdata is defined and vg_software is defined and vg_otherdata is defined %}
            <span title="VG_SystemData: {{ vg_systemdata }}, VG_SoftWare: {{ vg_software }}, VG_OtherData: {{ vg_otherdata }}" class="badge badge-pill badge-success">YES</span>
            {% else %}
            <span class="badge badge-pill badge-danger">NO</span>
            {% endif %}
            </td>
            <td>
            {% if ntp_servers is defined %}
            <span class="badge badge-pill badge-success">YES</span>
            {% else %}
            <span class="badge badge-pill badge-danger">NO</span>
            {% endif %}
            </td>
            <td>
            {% if adminos_usr is defined and adminptk_usr is defined and smenaptk_usr is defined and adminvp0_usr is defined %}
            <span class="badge badge-pill badge-success">YES</span>
            {% else %}
            <span title="Not exists: {%  if adminos_usr is undefined %}adminos {%  endif %}{%  if adminptk_usr is undefined %}adminptk {%  endif %}{%  if smenaptk_usr is undefined %}smenaptk {%  endif %}{%  if adminvp0_usr is undefined %}adminvp0 {%  endif %}" class="badge badge-pill badge-danger">NO</span>
            {% endif %}
            </td>
            <td>
            {% if sudoers_rules_status is defined %}
            <span class="badge badge-pill badge-success">YES</span>
            {% else %}
            <span class="badge badge-pill badge-danger">NO</span>
            {% endif %}
            </td>
            {% if sshd_deny_smenaptk is defined %}
            <span class="badge badge-pill badge-success">YES</span>
            {% else %}
            <span class="badge badge-pill badge-danger">NO</span>
            {% endif %}
            </td>
            {% if itm_status is defined %}
            <span class="badge badge-pill badge-success">YES</span>
            {% else %}
            <span class="badge badge-pill badge-danger">NO</span>
            {% endif %}
            </td>
            {% if vnet_status is defined %}
            <span class="badge badge-pill badge-success">YES</span>
            {% else %}
            <span class="badge badge-pill badge-danger">NO</span>
            {% endif %}
            </td>
        </tr>
{% endfor %}
    </tbody>
</table>
</div>
<div class="container">
        <div>
            <hr>
            <p style="text-align: center"><span data-toggle="tooltip" data-placement="left" class="badge badge-gray">Complite on host succesed: {% for host in play_hosts %}</span> <span class="badge badge-gray">{{ host }}</span>{% if not loop.last %},{% endif %}{% endfor %} </p>
        </div>
</div>

        <script>
            {% include 'includes/bootstrap/bootstrap.min.js' %}
        </script>

        <script>
            {% include 'includes/bootstrap/bootstrap-select.min.js' %}
        </script>

</body>
</html>
